NEXT_PUBLIC_SUPABASE_URL=https://frdrzimcfnfvheuemqkn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_ai-2QQblHTDKZoz0wf2vYg_aOwQrfyO
# THese are public keys for the supabase project. No Worries When Exposed.